{% extends "base.html" %}

{% block title %} {{super()}} {% endblock %}

{% block head %}
   {{super()}}
{% endblock %}

{% block content %}
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<div id="login-modal" class="modal">
					<div class="modal-content">
						<div class="modal-header">
                            <div class="col-md-8 text-left">
								<h3>Social Command Line </h3>
							</div>
							<div class="col-md-4 text-right">
								<p><a class="what-is-scl-link" href="/whatisscl">What Is This</a></p>
							</div>
						</div>
						<div class="modal-body">
							
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>showModal("login-modal");</script>
	</div>
{% endblock %}

{% block footer %}
	{{ super() }}
{% endblock %}