{% extends "base.html" %}

{% block title %} {{super()}} {% endblock %}

{% block head %}
   {{super()}}
{% endblock %}

{% block content %}
	<div class="container" style="margin-top: 2%">
		<div class="row">
			<div class="col-xs-4">

				<!-- Facebook Login -->
				<a class="btn btn-block btn-social btn-facebook">
					<span class="fa fa-facebook"></span> Load Facebook Engine
				</a>
			</div>
		</div>
			<div class="row">
				<div class="col-xs-4">

					<!-- twitter Login -->
					<!-- <a href="/signin"><img alt="Sign in with Twitter" src="https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png"/></a> -->

					<a href="/twitter_signin" class="btn btn-block btn-social btn-twitter">
	    				<span class="fa fa-twitter"></span> Load Twitter Engine
	  				</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}
	{{ super() }}
{% endblock %}